#body{
    font-size: 19px;
    line-height: 30px;
    font-family: "Georgia", serif;
}

#body h1, #body h2, #body h3, #body h4, #body h5, #body h6 {
    font-weight: normal;
}

#body h1 {
    text-align: center;
}


header .ebook {
    padding-bottom: 10px;
    font-style: italic;
    font-size: 17px;
    padding-bottom: 20px;
}
header .time {
    font-size: 17px;
    font-style: italic;
}

#body .container h1 {
    padding-top: 65px;
    padding-bottom: 80px;
    margin-top: 0px;
    font-family: "Helvetica", sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.container h2, .container h3 {
    font-family: "Helvetica", sans-serif;
}

.container .header a {
    color: #E2E2E2;
}

.container .header {
    padding-bottom: 0px;
    color: #DDDDDD;
}

.container .header .input-group-addon:hover {
    color: #333333;

    -webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
}


.container .header .btn-default {
    background-image: none;
    background-color: #DDDDDD;
    border: 1px solid #D9D9D9;
}


.container .header .btn-default:hover {
    background-image: none;
    background-color: #222222;
    border: 1px solid #1A1A1A;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.container .header h2 {
    padding-top: 12px;
    margin-top: 0px;
    font-size: 24px;
}


.container .header h2 a:hover {
    color: #333333;
    text-decoration: none;

    -webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
}

.container .newsletter-form {
    padding-top: 15px;
    margin-top: 0px;
}

@media (max-width: 767px) {

    .container .newsletter-form {
        display: none;
    }

    .container .header h2 {
        text-align: center;
    }
    .container .header {
        padding-bottom: 15px;
    }
}

.menu-icons {
    padding-top: 10px;
    font-size: 25px;
}


.moon {
    border-right: 1px solid #eeeeee;
}

.navbar-default .navbar-nav > li > a.text-danger {
    color: #B94A48;
}

a.debout, a.debout:hover {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

ul.entries li {
    padding-bottom: 20px;
}

.container .entry h1 {
    font-size: 42px;
    padding-bottom: 20px;
}

.container .entry h2 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
}


ul.sidebar li {
   float: none;
}

ul.sidebar li.active {
   background-color: #F1F1F1;
   border-radius: 4px;
}


ul.sidebar li.active>a {
    border-radius: 4px;
}

ul.sidebar>li>a {
    padding-bottom:10px;
    padding-top:10px;

    padding-left: 5px;
}

nav.navbar {
    box-shadow: none;
}

nav.navbar {
    border-bottom: 1px solid #eeeeee;
}

ul.sidebar.navbar-nav {
   float: none;
}


#site-title {
    text-align: center;
}

.container .row .navbar-default {
    border: none;
    box-shadow: none;
}


.container .row .navbar-default ul > li > a {
    color: #428BCA;
}


.container .row .navbar-default ul > li > a.rss {
    color: #FF6600;
}

.container .row .navbar-default ul > li > a.twitter {
    color: #4099FF;
}

.container .row .navbar-default ul > li > a.newsletter {
    color: #000000;
}

.nav > li.subscribe > a {
    display: inline;
}


.sitemap span {
    font-size: 12px;
}

.sitemap span a {
    color: #777777;
}

.sitemap a {
}

.post-list h3 {
    font-size: 25px;
}

.post-list h3:first-letter {
    text-transform: uppercase;
}

.entry_meta ul {
    list-style: none outside none;
    padding:0;
    margin: 0;
}

.btn-submit {
    background-color: #ddd;
}

.top-ten li {
   padding: 5px;
}

.well-meta {
    margin-top: 40px;
}

article {
    padding-bottom: 50px;
}

.article-bottom {
    padding-bottom: 50px;
    margin-top: 50px;
}

.article-footer {
    font-size: 16px;
    text-align: center;
}

.input_id_honeypot {display:none !important;}

/* Comments */

#comments {
    display: none;
}

ol.commentlist {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

ul.children {
    list-style-type: none;
}
.vcard {
    text-align: right;
}

.comment-author span { display: block; }


.comment-content .comment-author span a {
    font-weight: normal;
    color: #AAA;
}

.comment-wrap {
    padding-bottom: 20px;
}

.container blockquote .lead {
    font-size: 28px;
}


.container blockquote {
    padding-right: 0;
    padding-left: 0;
    border:0px;
}

.container .lead {
    font-size: 18px;
}

.container .home-links {
    padding-bottom: 20px;
}

.container .home-links p a {
    color: #333333;
}

.show-articles {
    padding-top: 15px;
    font-size: 25px;
}

.grey-box {
    /**background-color: #F5F5F5;**/
    border-right: 2px solid #E0E0E0;
    list-style: none outside none;
    margin-bottom: 24px;
    padding: 8px 15px;
}

.post-footer {
    font-size: 17px;
}

#google {
    display: none;
}

.container .side-left {
    margin-top: 45px;
    border-right: 2px solid #BBBBBB;
}

.container .side-right, .container .side-left-bottom {
    font-size: 14px;
    text-align: left;
    margin-top: 45px;
}

#body .main-content {
    padding-bottom: 60px;
}


ul.social .btn {
    background-color: #EBEBEB;
    border-color: #ADADAD;
    font-size: 15px;
}
ul.social .btn-default {
    background-image: none;
}

i.fb,       span.fb{     color: #3b5998; }
i.tw,       span.tw{     color: #00aced; }
i.google,   span.google{ color: #dd4b39; }
i.linkin,   span.linkin{ color: #007bb6; }
i.vk,       span.vk{     color: #45668e; }
i.pinterest,span.pinterest{color: #cb2027;}

/* Tooltips */

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  font-size: 14px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 53%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  top: 55px;
  left: 55%;
  margin-left: -76px;
  z-index: 999;
}

@media (min-width: 767px) {
    #body .main-content {
        padding-left: 60px;
        padding-right: 60px;
    }
}
