@(title: String, keywords: String = "", description: String = "", author: String = "Vincent Jousse")(content: Html)

<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link rel="canonical" href="http://viserlalune.com/" />
        <link rel="author" href="https://plus.google.com/+VincentJousse"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="@keywords">
        <meta name="description" content="@description">
        <meta name="author" content="@author" />

        <title>@title</title>


        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="@routes.Assets.versioned("theme/apple-touch-icon-57x57.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.versioned("theme/apple-touch-icon-114x114.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.versioned("theme/apple-touch-icon-72x72.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.versioned("theme/apple-touch-icon-144x144.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="@routes.Assets.versioned("theme/apple-touch-icon-60x60.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@routes.Assets.versioned("theme/apple-touch-icon-120x120.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="@routes.Assets.versioned("theme/apple-touch-icon-76x76.png")" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@routes.Assets.versioned("theme/apple-touch-icon-152x152.png")" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("theme/favicon-196x196.png")" sizes="196x196" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("theme/favicon-96x96.png")" sizes="96x96" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("theme/favicon-32x32.png")" sizes="32x32" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("theme/favicon-16x16.png")" sizes="16x16" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("theme/favicon-128.png")" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="@routes.Assets.versioned("theme/mstile-144x144.png")" />
        <meta name="msapplication-square70x70logo" content="@routes.Assets.versioned("theme/mstile-70x70.png")" />
        <meta name="msapplication-square150x150logo" content="@routes.Assets.versioned("theme/mstile-150x150.png")" />
        <meta name="msapplication-wide310x150logo" content="@routes.Assets.versioned("theme/mstile-310x150.png")" />
        <meta name="msapplication-square310x310logo" content="@routes.Assets.versioned("theme/mstile-310x310.png")" />

        <link rel="stylesheet" href="@routes.Assets.versioned("theme/css/style.css")" type="text/css" />
        <link rel="stylesheet" href="@routes.Assets.versioned("theme/css/font-awesome.min.css")" type="text/css" />
        <link rel="stylesheet" href="@routes.Assets.versioned("theme/css/bootstrap.min.css")" type="text/css" />


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="@routes.Assets.versioned("theme/js/html5shiv.js")"></script>
        <script src="@routes.Assets.versioned("theme/js/respond.min.js")"></script>
        <![endif]-->
    </head>
    <body id="body">


        <!-- https://medium.com/@@mariusc23/hide-header-on-scroll-down-show-on-scroll-up-67bbaae9a78c -->
        <!-- http://graphicdesign.stackexchange.com/questions/26169/best-fonts-for-improving-reading-experience -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav menu-icons">
                        <li class="moon">
                            <a href="/" title="Accueil"><i class="fa fa-moon-o"></i> Viser la lune</a>
                        </li>
                        <li><a class="tooltips" href="{% url "home" %}" title="Liste des articles"><i class="fa fa-file-text-o"></i><span>Liste des articles</span></a></li>
                        <li><a class="tooltips" href="/donate/" title="Soutenir mes écrits"><i class="fa fa-heart text-danger"></i><span>Soutenir</span></a></li>
                        <li><a class="tooltips" href="/à-propos/" title="À propos / Contact"><i class="fa fa-question"></i><span>À propos / Contact</span></a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <li><a><sup><i class="fa fa-quote-left"></i></sup>&nbsp;Il faut toujours <strong>viser la lune</strong>, car même en cas d’échec<br /> on atterrit dans les étoiles&nbsp;<sub><i class="fa fa-quote-right"></i></sub> <em>— Oscar Wilde</em></a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid-->
        </nav>

        <div class="container">

            <div class="row">

                <div class="col-lg-1 col-md-1 col-sm-1 side-left">

                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 main-content">
                    @content
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 side-right">

                </div>


                <div id="google"><a href="https://plus.google.com/+VincentJousse?rel=author">Google+</a></div>

            </div>
            <!-- /.row-->

        </div>
        <!-- /.container-->

    </body>
</html>
